@font-face {
    font-family: DolceVita;
    src: url(../tipografia/DolceVita.ttf);
}

@font-face {
    font-family: DolceVitaHeavyBold;
    src: url(../tipografia/DolceVitaHeavyBold.ttf);
}

@font-face {
    font-family:ContrailOne-Regular;
    src: url(../tipografia/ContrailOne-Regular.ttf);
}


.navbar {
	margin-bottom:0;
	position: fixed;
	width: 100%;
	z-index: 10;
	border-radius: 0;
	border-bottom: 1.8px solid rgba(231, 231, 231, 0.84);
  box-shadow: 2px 2px 3px #999;
}
.navbar-default{
  background-color: rgba(1, 2, 5, 0.9);
  border-color: rgba(1, 2, 5, 0.9);
  color:white;
}

.navbar-default .navbar-nav > li > a{
	color:white;
}

.collapse {
	  float: right;
	  text-align: right;
}

.navbar-nav{
	  padding-top: 17px;
	li{
		font-size: 17px;
		font-family: "DolceVita";
 }
}

.logo{
	width: 7em
}

.logo {
	img{
	width: 100%;
  padding: 7% 1% 7% 4%;
 }
}

.img-home-centro {
   img{
	width: 100%;
  height: 100%;
 }
}

.redes2{
    position: fixed;
	width: 20%;
	top: 35%;
	z-index: 9;
	right: 0;
	left:93%;
}

.redes2 img{
	width: 30%;
	right:0
	
}

.fb{
	margin-right: 0;
	position: relative;
	text-align: right;
}

.twitter{
	margin-right: 0;
	position: relative;
	text-align: right;
}

.youtube{
	margin-right: 0;
	position: relative;
	text-align: right;
}

/*barra social*/
.icono-social {
	height: 63px;
	width: 63px;
	/*float: left;*/
	background-repeat: no-repeat;
	background-size: cover;
}

.fb {
	background-image: url(../redes/fb_blanco.png);
}

.fb.scroll {
	background-image: url(../redes/fb_negro.png);
}

.twitter {
	background-image: url(../redes/twitter_blanco.png);
}

.twitter.scroll {
	background-image: url(../redes/twitter_negro.png);
}

.youtube {
	background-image: url(../redes/youtube_blanco.png);
}

.youtube.scroll {
	background-image: url(../redes/youtube_negro.png);
}

.box{
  background-image: url(../img/tile3.png);
}

.row {
	margin-top: 20px;
	margin-bottom:20px;
} 
.display{
	margin-top:20px;
}


.box{
	h2{
	margin: 0;
	text-align: center;
  color: #0D5C8E;
  padding-top: 5%;
  font-family: "DolceVitaHeavyBold";}

  h3{
  	text-align: center;
  	font-size: 16px;
  	color: #303030;
  }
}

.row{
	margin-top: 50px;
	h4{
		text-align: center;
		font-size: 22px;
  	color: #303030;
  	font-weight: 600;
	}
}

.container p{
	color: #303030;;
	text-align:center;
	font-size: 14px;
}

.display {
  position: relative;
  width: 100%;
}

.overlay {
  padding: 10% 15%;
  position: absolute;
  width: 100%;
  top: 0%;
  min-height: 100%; }
  .overlay:hover {
    background-color: rgba(13, 13, 13, 0.54); 
    transition: 1s;
  }

.overlay:hover .frase{
	visibility: visible;
}

.frase{
	 width: 100%;
	 position: absolute;
	 top:50%; 
	 text-align: center;
	 color: white;
	 visibility: hidden;
}

span{
	font-family: ContrailOne-Regular;
	font-size: 20px;
}

.box-2{
	h2{
	margin: 0;
	text-align: center;
  color: #0D5C8E;
  padding-top: 5%;
  font-family: "DolceVitaHeavyBold";
  }
  h3{
  	text-align: center;
  	font-size: 16px;
  	color: #303030;
  }
}

.columna1{
	width: 90%;
  margin: 0 auto;
  margin-top: 5%;
}

.pack1{
   background-color:#222;
	 text-align: center;
	 color: white;
}

.texto-pack1{
	 padding-top: 15px;
	 font-size: 25px;
	 font-weight: 600;
}

.precio{
	 padding:10px;
	 font-size: 30px;
	 font-weight: 800
}

.periodo{
	 padding-bottom: 15px;
	 font-size: 12px
	}

.pack1-border{
	 border-bottom: 1px solid #C8C8C8;
	 border-left: 1px solid #C8C8C8;
	 border-right: 1px solid #C8C8C8;
	 padding-bottom: 20px;
   padding-top: 20px;
}
.semana{
	 width: 100%;
	 height: 20%;
	 text-align: center;
}

.paquete{
	 width: 100%;
	 height: 20%;
   padding-bottom: 15px;
	 text-align: center;
	 ul{
     list-style: none;
     text-align: center;
     padding-left: 0;
     margin-top: 10px;
 		 font-size: 12px;
	 }
	}

.paquete1{
	 width: 100%;
	 height: 20%;
	 text-align: center;
	 
}

.inscribete{
	 width: 100%;
	 height: 20%;
	 text-align: center;
	 color: white;
	 font-size: 15px;
}

.boton{
	width: 62%;
	background-color: #50A7DF;
	display: inline-block;
	padding-top: 3px;	
	button {
  background-color: #50A7DF;
  border-color: #50A7DF;
  color: white;
  width: 100%;
  height: 34px;
  }
}

 .mapa{
  margin-top: 7%;
 	width: 100%;
 	height: 400px;
 }

.contactanos-box{
	  padding-bottom: 7%;
}

.consulta{
  padding-left: 3%;
  padding-right: 3%;

}

.columna{
	width: 100%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
}

.estilo-nombre{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 13px;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border:1px solid #C8C8C8;
	border-radius: 0;
}

.bt-enviar{
	width: 98%;
	margin-left: 1%;
  margin-right: 1%;
}

textarea{
	width: 100%;
}

.piepagina{
	background-color: #222;
	padding: 0.2% 0;
}

.footer{
	margin-top:2%;
}
.gridpie{
	margin: 0 10%;
	p{
		color: #888888;;
		font-size: 13px;
		margin-top: 1%;
		margin-bottom: 5%;
		padding-bottom: 5%;
		border-bottom: 1px solid rgba(136, 136, 136, 0.26);
	}
	img{
		width: 10%;
	}
}

.footer-text{
	text-align:center;
}

a{
 text-decoration: none;
 color: white;
 font-family: "DolceVita";
 -webkit-transition: 1s;
}

a:hover{
	color: rgb(23, 140, 215);
	font-family: "DolceVita";
	text-decoration: none;
}